<!DOCTYPE html>
<html>
  <head>
    <title>Delp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Delp">
    <meta property="og:image" content="<%= image_url('delp_home.png') %>">
    <meta 
      property="og:description" 
      content="A Yelp-inspired web application where users can search for businesses and leave reviews and ratings. Delp is primarily built with React/Redux for the frontend, Ruby on Rails for the backend, and PostgreSQL for the database.">
    <meta property="og:url" content="https://delp-app.herokuapp.com/#/">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
